@import '../base_theme.css';

@source '../../../../app/Filament/Organiser/**/*';
@source '../../../../resources/views/filament/organiser/**/*';

.utrecht-form-field__label--checkbox {
    padding-inline-start: 0!important;
}

.utrecht-form-label--checkbox {
        padding-inline-start: calc(var(--_of-checkbox-label-shift) + var(--of-utrecht-form-label-checkbox-padding-inline-start))!important;
}

.openforms-formio-content table,  .openforms-formio-content .table {
    width: 100%;
}