name: Backport

on:
    pull_request:
        types: [closed]
    issue_comment:
        types: [created]

permissions:
    contents: write
    pull-requests: write

jobs:
    backport:
        if: >
            (github.event_name == 'pull_request' && github.event.pull_request.merged == true) ||
            (github.event_name == 'issue_comment' &&
              github.event.issue.pull_request &&
              github.event.comment.user.id != 97796249 &&
              startsWith(github.event.comment.body, '/backport'))
        runs-on: ubuntu-latest
        steps:
            - uses: korthout/backport-action@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  # label-pattern bepaalt hoe je labels heet
                  # bijv: "backport release/1.8" of "backport-to:release/1.8"
                  label_pattern: "^backport (?<base>.+)$"
